@media only screen and (max-width: 900px) {
  body {
    background-color: #cacaca;
  }

  input[type="search"],
  ul.ul1,
  ul.ul2,
  div.sidebar {
    display: none;
  }

  div.container2 {
    display: none;
  }

  div.header {
    height: 70px;
  }

  div.flex-container {
    margin: 9.65px 25.2px 0 13.2px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  img.logo {
    margin: 0 0 0 3px;
    width: 200px;
    height: auto;
  }

  ul.nav-bar li {
    display: inline-block;
  }

  img.magnifier {
    display: inline-block;
  }

  ul.nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  ul.nav-bar a {
    display: inline-block;
    font-family: Ubuntu;
    background-clip: padding-box;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    text-decoration: none;
    color: black;
  }

  .home {
    padding: 9px calc((33.333333% - 46.6px) / 2) 9px
      calc((33.333333% - 46.6px) / 2);
  }

  .home-on {
    border-bottom: 4px rgb(126, 51, 231) inset;
    padding: 9px calc((33.333333% - 46.6px) / 2) 9px
      calc((33.333333% - 46.6px) / 2);
  }

  .home-courses {
    padding: 9px calc((33.333333% - 46.6px) / 2) 9px
      calc((33.333333% - 46.6px) / 2);
    border-right: 1px rgba(63, 56, 52, 0.3) inset;
  }

  .courses {
    border-left: 1px rgba(63, 56, 52, 0.3) inset;
    border-right: 1px rgba(63, 56, 52, 0.3) inset;
    padding: 9px calc((33.333333% - 70.08px) / 2) 9px
      calc((33.333333% - 70.08px) / 2);
  }

  .courses-on {
    padding: 9px calc((33.333333% - 70.08px) / 2) 9px
      calc((33.333333% - 70.08px) / 2);
    border-bottom: 4px rgb(126, 51, 231) inset;
  }

  .profile {
    padding: 9px calc((33.333333% - 63.2px) / 2) 9px
      calc((33.333333% - 63.2px) / 2);
  }

  .profile-on {
    padding: 9px calc((33.333333% - 63.2px) / 2) 9px
      calc((33.333333% - 63.2px) / 2);
    border-bottom: 4px rgb(126, 51, 231) inset;
  }

  .profile-courses {
    padding: 9px calc((33.333333% - 63.2px) / 2) 9px
      calc((33.333333% - 63.2px) / 2);
    border-left: 1px rgba(63, 56, 52, 0.3) inset;
  }
}

@font-face {
  font-family: "Ubuntu";
  src: url("4iCs6KVjbNBYlgoKfw72.woff2");
}

body {
  margin: 0;
  padding: 0;
}

input[type="search"] {
  height: 20px;
  width: 400px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-radius: 8px;
  padding: 0 0 0 10px;
}

input[type="search"]:focus {
  -webkit-box-shadow: 0px 0px 1px 1px blue, 0px 0px 2px 2px #21d6ff;
  box-shadow: 0px 0px 1px 1px blue, 0px 0px 2px 2px #21d6ff;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 25px 0 0 15px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.ul1 {
  list-style-type: none;
  padding-left: 0;
  display: inline-block;
}

.ul1 > a:hover {
  background-color: #569cff;
  cursor: pointer;
}

ul.ul1 > a,
ul.ul2 > a {
  text-decoration: none;
  color: white;
  padding: 6px;
  font-size: 16px;
  border-radius: 6px;
  margin: 0 8px 0 8px;
  display: inline-block;
  font-family: Ubuntu;
  letter-spacing: -1px;
  outline: none;
}

ul.ul1 > a:visited {
  text-decoration: none;
  color: white;
  border: 0;
}

.ul2 {
  list-style-type: none;
  margin: 4px 0 0 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ul2 > a:hover {
  cursor: pointer;
}

.container2 {
  display: -ms-grid;
  display: grid;
  width: 83%;
  margin-left: 17%;
  margin-top: 110px;
  -ms-grid-rows: calc(100vh - 110px);
  grid-template-rows: calc(100vh - 110px);
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "article article article aside";
}

.header {
  background-color: #3f3834;
  -webkit-box-shadow: 1px 3px 5px 1px black;
  box-shadow: 1px 3px 5px 1px black;
  height: 110px;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 5;
}

.sidebar {
  width: 17%;
  height: calc(100vh - 110px);
  background-color: #e8cfc2;
  -webkit-box-shadow: 3px 1px 9px black;
  box-shadow: 3px 1px 9px black;
  position: fixed;
  top: 110px;
}

.item-a {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: article;
  background: blue;
}

.item-b {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: aside;
  background: yellow;
}

.logo {
  margin-top: -6px;
  width: 250px;
  height: 63.41px;
}

.logo-link {
  outline: none;
}

.mail-reverse {
  -webkit-filter: invert(0);
  filter: invert(0);
}

.mail-reverse1:hover > li img.mail-reverse {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.star-reverse {
  -webkit-filter: invert(0);
  filter: invert(0);
}

.star-reverse1:hover > li img.star-reverse {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.chat-reverse {
  -webkit-filter: invert(0);
  filter: invert(0);
}

.chat-reverse1:hover > li img.chat-reverse {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.magnifier {
  display: none;
  height: 22px;
  width: auto;
  margin-right: -3px;
}

.nav-bar {
  display: none;
  position: fixed;
  top: 70px;
  width: 100%;
  background-color: #e8cfc2;
  margin: 0;
  padding: 0;
}

.nav-bar li {
  display: none;
}

a.courses-pc {
  background-color: #569cff;
}

a.profile-pc {
  background-color: #569cff;
}

a.info {
  background-color: #569cff;
}

a.blog {
  background-color: #569cff;
}

a.news {
  background-color: #569cff;
}

a.help {
  background-color: #569cff;
}

.mail {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.star {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.chat {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
