@font-face {
    font-family: 'Ubuntu';
    src: url("https://fonts.gstatic.com/s/ubuntu/v13/4iCs6KVjbNBYlgoKfw72.woff2");
}

body {
    margin: 0;
    padding: 0
}

ul {
    list-style-type: none;
    height: 18.4px;
    margin: 20px 0 0 0;
    padding-left: 15px;
    display: inline-block
}

li {
    padding: 6px;
    font-size: 16px;
    border-radius: 8px;
    margin: 0 8px 0 8px;
    display: inline-block;
    font-family: Ubuntu;
    color: #FFE8F6;
    letter-spacing: -1px;
}

li:hover {
    background-color: #569CFF;
    cursor: pointer;
}

.container2 {
    display: -ms-grid;
    display: grid;
    width: 83%;
    margin-left: 17%;
    margin-top: 110px;
    -ms-grid-rows: calc(100vh - 110px);
    grid-template-rows: calc(100vh - 110px);
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "article article article aside";
}

.header {
    background-color: #3F3834;
    box-shadow: 1px 3px 5px 1px black;
    height: 110px;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 5;
}

.sidebar {
    width: 17%;
    height: calc(100vh - 110px);
    background-color: #E8CFC2;
    box-shadow: 3px 1px 9px black;
    position: fixed;
    top: 110px;
}

.item-a {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: article;
    background: blue;
}

.item-b {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    grid-area: aside;
    background: yellow;
}

.flex-container {
    display: flex;
    margin: 20px 0 0 100px;
}

