/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* Styles */
}


/* Smartphones (landscape) ----------- */

@media only screen and (min-width: 321px) {
    /* Styles */
}


/* Smartphones (portrait) ----------- */

@media only screen and (max-width: 320px) {
    /* Styles */
}

@font-face {
    font-family: 'Ubuntu';
    src: url("4iCs6KVjbNBYlgoKfw72.woff2");
}

body {
    margin: 0;
    padding: 0
}

input[type=search] {
    height: 20px;
    width: 400px;
    align-self: center;
    border-radius: 8px;
    padding: 0 0 0 10px;
}

input[type=search]:focus {
    box-shadow: 0px 0px 1px 1px blue, 0px 0px 2px 2px #21D6FF;
}

.ul1 {
    list-style-type: none;
    padding-left: 0;
    display: inline-block
}

.ul1 > a:hover {
    background-color: #569CFF;
    cursor: pointer;
}

ul.ul1 > a, ul.ul2 > a {
    text-decoration:none;
    color: white;
    padding: 6px;
    font-size: 16px;
    border-radius: 6px;
    margin: 0 8px 0 8px;
    display: inline-block;
    font-family: Ubuntu;
    color: #FFE8F6;
    letter-spacing: -1px;
    outline: none
}

ul.ul1 > a:visited {
    text-decoration:none;
    color: white;
    border:0
}

.ul2 {
    list-style-type: none;
    margin: 4px 0 0 0;
    padding-left: 0;
    display: flex;
    align-items: center
}

.ul2 > a:hover {
    cursor: pointer;
}

.container2 {
    display: -ms-grid;
    display: grid;
    width: 83%;
    margin-left: 17%;
    margin-top: 110px;
    -ms-grid-rows: calc(100vh - 110px);
    grid-template-rows: calc(100vh - 110px);
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "article article article aside";
}

.header {
    background-color: #3F3834;
    box-shadow: 1px 3px 5px 1px black;
    height: 110px;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 5;
}

.sidebar {
    width: 17%;
    height: calc(100vh - 110px);
    background-color: #E8CFC2;
    box-shadow: 3px 1px 9px black;
    position: fixed;
    top: 110px;
}

.item-a {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: article;
    background: blue;
}

.item-b {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    grid-area: aside;
    background: yellow;
}

.flex-container {
    display: flex;
    margin: 25px 0 0 15px;
    align-items: center;
    justify-content: space-evenly;
}

.logo {
    margin-top: -6px;
    width: 250px;
    height: 63.41px;
}

.mail-reverse {
    filter: invert(0)
}

a.mail-reverse1:hover > img.mail-reverse li {
    filter: invert(100%)
}

.star-reverse {
    filter: invert(0)
}

a.star-reverse1:hover > img.star-reverse{
    filter: invert(100%)
}

.chat-reverse {
    filter: invert(0)
}

a.chat-reverse1:hover > img.chat-reverse {
    filter: invert(100%)
}
